html {
    background-image: url(/images/bg-tshd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
}

@font-face {
    font-family: omori;
    src: url(/fonts/OMORI_GAME2.ttf);
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.title {
    border: 1px blue solid;
    display: flex;
    max-width:  600px;
    width: 100%;
    align-items: center;
}

.banner {
 width: 100%;
 min-width: 12em;
 min-height: 16em;
 display: block;
 aspect-ratio: 14/3;
}

.title > h1 {
    position: absolute;
    color: rgba(240, 191, 191, 0.732);
    margin-left: 20px;
    margin-bottom: -140px;
    z-index: 2;
    font-size: 4em;
}
h1 {
    font-family: omori;
}
.top {
   margin-top: 0.6em;
   display: flex;
   
}

.polaroid-top {
    display: inherit;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px blue solid;
    width: 100%;
    gap: 10px;

}

img {
    width: 11em;
}

